@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');

html, body, div {
  margin: 0;
  padding: 0;
}

body {
  background: #4A3DF9;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  transition: background 1s;
}

h1 {
  color: #FB2843;
}

h3 {
  font-size: 1.3rem;
  font-weight: 700;
}

ul {
  list-style-type: none;
}

li {
  display: table-cell;
  padding-right: 3.6vw;
}

input[type=checkbox] {
  visibility: hidden;
}

input[type=number] {
  width: 80px;
  height: 50px;
  margin: 6px 0 10px 24px;
  background: #F0F0F0;
  color: black;
  font-family: inherit;
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;
  border: 0;
  border-radius: 16px;
}

input[type=submit] {
  width: 160px;
  height: 54px;
  padding-top: 6px;
  background: #FB2843;
  color: #FEFEFE;
  font-family: inherit;
  font-size: 1.3rem;
  font-weight: 700;
  border: 0;
  border-radius: 18px;
  float: right;
}

input:focus {
  outline: none;
}

.main-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.digit-container {
  padding-top: 1.6vw;
  width: 8vw;
}

.colon-container {
  width: 4vw;
}

.canvas-container {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.form-container {
  width: 100%;
  height: 90%;
}

.main-container, .digit-container, .colon-container, .form-container,
.canvas-container, #stopwatch-container, #instructions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(255, 255, 255, 0.5);
}

.modal-content {
  background-color: white;
  margin: 6vw auto;
  width: 50%;
  min-width: 500px;
  max-width: 800px;
  height: 80%;
  min-height: 400px;
  max-height: 800px;
}

.close {
  margin-right: 1.8%;
  color: #C5C5C5;
  font-size: 3rem;
  font-weight: 400;
  float: right;
}

.form-input {
  margin-bottom: 3%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.main {
  display: block;
  position: relative;
  padding-left: 45px;
/*  margin-bottom: 15px; */
  cursor: pointer;
  font-size: 20px;
}

.custom-checkbox {
  position: absolute;
  top: 15px;
  left: 0;
  height: 32px;
  width: 32px;
  background: #aaa;
  border-radius: 5px;
}

.main:hover input ~ .custom-checkbox {
  background: #FB2843;
}

.main input:active ~ .custom-checkbox {
  background: #FB2843;
}

.main input:checked ~ .custom-checkbox {
  background: #FB2843;
}

.custom-checkbox:after {
  content: "";
  position: absolute;
  display: none;
}

.main input:checked ~ .custom-checkbox:after {
  display: block;
}

.main .custom-checkbox:after {
  left: 8px;
  bottom: 5px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 4px 4px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hour-digits, #min-digits, #sec-digits {
  display: flex;
}

#stopwatch-container {
  color: #FEFEFE;
  font-size: 13vw;
}

#instructions {
  position: absolute;
  bottom: 0;
  padding-bottom: 16px;
  width: 100%;
  color: #FEFEFE;
  font-size: 1.1rem;
  letter-spacing: 0.1vw;
}

#canvas {
  /* background: black; */
}
